.aalborg_logo {
	width: 178px !important;
}

.nav.aalborg_top {
	text-align: center !important;
	width: 100% !important;
}

.nav.aalborg_top li {
	float: none !important;
	display: inline-block !important;
}

.bg-img {
	/*background: #eee !important;*/
	background: #211A52 !important;
}

#region-main {
	width: 100% !important;
}

#region-post {
	display: none !important;
}

.aalborg_sub.subnav {
	display: none !important;
}